* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.HBK{
    width: 100%;
}


.logo {
    margin-top: 0;
    font-size: 3vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(150, 4, 155);
}

main {
    font-size: 4vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

main  h2 {
    font-size: 7vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar{
    display: flex;
    list-style: none;
    justify-content: flex-end;
    

}

.navbar li a {
    text-decoration: none;
    padding: 4px;

}

.grid-container  {
    grid-template-columns: repeat(2,1fr);
    display: grid;
    gap: 1em;


}

.notitem {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.notitem img{
    width: 600px;
    height: 400px;
    object-fit: fill;

   
}


/**Tablet**/
@media (max-width:768px) { 
    .grid-container{
        grid-template-columns: repeat(1,1fr);
        text-align: center;
        margin: auto;
    }

    .HBK{
        width: 100%;
        margin: auto;
    }

}

/**Cel**/
@media (max-width:576px) {

    .HBK{
        margin: auto;
        width: 98%;
        display: flex;
        justify-content: center;
        
    }

   .notitem img {
    padding: 5px;

   }
}