/**Header**/
header {
  background-color: rgba(115, 141, 195, 0.873);
}

.HBK {
  width: 100%;
}

.WWE {
  width: 20%;
}

.TNA {
  width: 40%;
}

.NJPW {
  width: 40%;
}

.ARG {
  width: 30%;
}

.AEW {
  width: 30%;
}

.logo {
  margin-top: 0;
  font-size: 3vh;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: rgb(255, 255, 255);
}
