/**Main**/
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar {
  display: flex;
  list-style: none;
  justify-content: flex-end;
}

.navbar li a {
  text-decoration: none;
  padding: 4px;
  color: rgb(255, 255, 255);
}

.navbar li a:hover {
  color: rgb(68, 22, 110);
}

main {
  font-size: 4vh;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: rgb(255, 255, 255);
}

main h2 {
  font-size: 7vh;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: center;
}

.content {
  background-color: rgba(115, 141, 195, 0.873);
}
