/**Main**/
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar {
  display: flex;
  list-style: none;
  justify-content: flex-end;
}

.navbar li a {
  text-decoration: none;
  padding: 4px;
  color: rgb(0, 0, 0);
}

.navbar li a:hover {
  color: rgba(31, 0, 167, 0.942);
}

main {
  font-size: 4vh;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: rgb(0, 0, 0);
}

main h1{
  font-size: 7vh;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

main h2 {
  font-size: 7vh;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
  padding-bottom: 90px;
}

.content {
  background-color: rgba(179, 216, 255, 0.974);
}

.notitem:hover{
  transform: scale(0.9);
  z-index: 2;
}